{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.min.css') }}">
{% endblock %}

{% block content %}


<div class="vacancies">
    {% for vacancy in vacancies %}
        <div class="vacancy-card">
            <img src="{{ vacancy.main_image_path }}" class="vacancy-image" />
            {% if lang == "uk" %}
            <div class="vacancy-content">
                <h2 class="vacancy-content__title"><b>{{ vacancy.title }}</b></h2>
                <ul class="vacancy-content__details">
                    <li class="vacancy-content__item"><strong>Зарплата: </strong>{{ vacancy.salary }}</li>
                    <li class="vacancy-content__item"><strong>Графік: </strong>{{ vacancy.schedule }}</li>
                    <li class="vacancy-content__item"><strong>Житло: </strong>{{ vacancy.accommodation }}</li>
                    <li class="vacancy-content__item"><strong>Місце роботи: </strong>{{ vacancy.work_location }}</li>
                </ul>
                <a href="{{ url_for('vacancy.get_vacancy', vacancy_id=vacancy.id ) }}" class="vacancy-content__button">Дізнатися більше</a>
            </div>
            {% else %}
            <div class="vacancy-content">
                <h2 class="vacancy-content__title"><b>{{ vacancy.title_ru }}</b></h2>
                <ul class="vacancy-content__details">
                    <li class="vacancy-content__item"><strong>Зарплата: </strong>{{ vacancy.salary_ru }}</li>
                    <li class="vacancy-content__item"><strong>Графік: </strong>{{ vacancy.schedule_ru }}</li>
                    <li class="vacancy-content__item"><strong>Житло: </strong>{{ vacancy.accommodation_ru }}</li>
                    <li class="vacancy-content__item"><strong>Місце роботи: </strong>{{ vacancy.work_location_ru }}</li>
                </ul>
                <a href="{{ url_for('vacancy.get_vacancy', vacancy_id=vacancy.id ) }}" class="vacancy-content__button">Дізнатися більше</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
