{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.min.css') }}">
{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{{ url_for('vacancy.create_vacancy' ) }}">Добавити вакансію</a>

<div class="vacancies">
    {% for vacancy in vacancies %}
        <div class="vacancy-card">
            <img src="{{ vacancy.main_image_path }}" class="vacancy-image" />
            <div class="vacancy-content">
                <h2 class="vacancy-content__title"><b>{{ vacancy.title }}</b></h2>
                <div class="vacancy-content__details">{{ vacancy.short_description | safe }}</div>
                <a href="{{ url_for('vacancy.get_vacancy', vacancy_id=vacancy.id ) }}" class="vacancy-content__button">Дізнатися більше</a>
            </div>
            <form action="{{ url_for('vacancy.delete_vacancy', vacancy_id=vacancy.id) }}" method="POST">
                <button type="submit" class="vacancy-card__delete-button">Видалити</button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock %}
