{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.min.css') }}" />
{% endblock %}

{% block content %}

<h1>{{ _("Авторизація") }}</h1>
<form method="POST">
    <div class="form-group">
        <label for="username" class="form-label">{{ _("Логін") }}</label>
        <input type="text" id="username" name="username" class="form-control" size="32" placeholder="{{ _('Введіть логін') }}" required>
    </div>
    <br />
    <div class="form-group">
        <label for="password" class="form-label">{{ _("Пароль") }}</label>
        <input type="password" id="password" name="password" class="form-control" size="32" placeholder="{{ _('Введіть пароль') }}" required>
    </div>
    <br />
    <div class="form-check">
        <input type="checkbox" id="remember_me" name="remember_me" class="form-check-input">
        <label for="remember_me" class="form-check-label">{{ _("Запам’ятати мене") }}</label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">{{ _("Увійти") }}</button>
</form>

{% endblock %}
