{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.min.css') }}" />
{% endblock %} {% block content %}

<h1>Admin Login</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="form-label") }} {{ form.username(class="form-control",
        size=32) }}
    </div>
    <br />
    <div class="form-group">
        {{ form.password.label(class="form-label") }} 
        {{ form.password(class="form-control", size=32) }}
    </div>
    <br />
    <div class="form-check">
        {{ form.remember_me.label(class="form-check-label") }} 
        {{ form.remember_me(class="form-check-input", size=32) }}
    </div>
    <br />
    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}
