{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/vacancy-form.min.css') }}">
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" class="container mt-4 p-4 border rounded bg-light">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control", size=32) }}
    </div>
    
    <div class="mb-3">
        {{ form.main_image_path.label(class="form-label") }}
        {{ form.main_image_path(class="form-control", accept=".jpg,.jpeg,.png", id="mainImageInput") }}
        <div id="mainImagePreview" class="preview-container"></div>
    </div>
    
    <div class="mb-3">
        {{ form.images_path.label(class="form-label") }}
        {{ form.images_path(class="form-control", accept=".jpg,.jpeg,.png", multiple=True, id="additionalImagesInput") }}
        <div id="additionalImagesPreview" class="preview-container"></div>
        <small class="form-text text-muted">You can upload multiple images.</small>
    </div>
    
    <div class="mb-3">
        {{ form.video_path.label(class="form-label") }}
        {{ form.video_path(class="form-control", accept=".mp4,.avi,.mkv", id="videoInput") }}
        <div id="videoPreview" class="preview-container"></div>
    </div>

    <div class="mb-3">
        {{ form.short_description.label(class="form-label") }}
        <div id="short_description" style="height: 200px;"></div>
        {{ form.short_description(class="form-control", rows=5, id="short_description_field", style="opacity: 0; height: 1px;") }}
    </div>
    
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        <div id="description" style="height: 200px;"></div>
        {{ form.description(class="form-control", rows=5, id="description_field", style="opacity: 0; height: 1px;") }}
    </div>
    
    <div class="d-grid">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}

{% block script %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill1 = new Quill('#short_description', {
        theme: 'snow',
        placeholder: 'Напишіть ваше повідомлення тут...',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['link'],
                ['clean']
            ]
        }
    });

    var quill2 = new Quill('#description', {
        theme: 'snow',
        placeholder: 'Напишіть ваше повідомлення тут...',
        modules: {
            toolbar: [
                [{ 'header': [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['link'],
                ['clean']
            ]
        }
    });

    document.querySelector('form').addEventListener('click', function (event) {
        var shortDescription = document.querySelector('#short_description').children[0].innerHTML;
        var description = document.querySelector('#description').children[0].innerHTML;

        document.querySelector('#short_description_field').value = shortDescription;
        document.querySelector('#description_field').value = description;
    });

</script>
<script src="{{ url_for('static', filename='JS/previewImages.js') }}"></script>
{% endblock %}